@{
    ViewBag.Title = "NOISY STUFF";
}
<div class="options">
    <div>
        <label for="freq">
            Frequency (Hz):
        </label>
        <input id="freq" value="440" />
    </div>
    <div>
        <label for="duration">
            Duration (ms):
        </label>
        <input id="duration" value="200" />
    </div>
    <div>
        <label for="wavetype">
            Wave type:
        </label>
        <select id="wavetype">
            <option value="0">Sine</option>
            <option value="1">Square</option>
            <option value="2">Sawtooth</option>
            <option value="3">Noise</option>
        </select>
    </div>
    <button id="generate-wave">
        Generate Wave</button>
    <button id="merge-stuff">
        Merge Stuffs</button>
    <button id="random">
        RANDOM</button>
</div>
<div id="container">
</div>
<div id="keyboard">
</div>
